/*主题内容*/
.content{
	width: 1200px;
	margin: 0 auto;
}

/*导航栏*/
.navigation{
	background: #915519;
	height: 60px;
	color: #fff;
	font-family: 'Microsoft YaHei';
    font-size: 16px;
}

.title_tab{
	float: left;
	width: 150px;
	text-align: center;
	line-height: 57px;
}

.title_tab:hover{
	background: #ce6e0a;
}

.title_tab .first_title{
	cursor: pointer;
}

.title_tab .second_title{
	display: none;
	line-height: 40px;
}

.title_tab .second_title a{
	display: block;
	color: #fff;
}

.title_tab .second_title .title_over{
	color: #666;
	background: red;
}