/*-----------------网站共用部分-------------------*/
/*整体背景图*/
.wrapper .bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    filter: blur(2px);
}

/*学校logo*/
.wrapper .school_logo{
    width: 1200px;
    margin: 0 auto;
}

/*主题内容*/
.content{
    width: 1200px;
    margin: 0 auto;
    background: #f4f4f4;
}

.wrapper .logo{
    float: left;
    width: 600px;
    margin: 25px 20px;
}
/*搜索*/
.wrapper .search{
    float: left;
    width: 500px;
}

.wrapper .search .search_input{
    position: relative;
    margin-left: 280px;
    margin-top: 80px;
}

.wrapper .search input{
    width: 225px;
    height: 30px;
    line-height: 24px;
    border: 3px solid #e3e3e3;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 50px;
    padding-right: 50px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    outline: 0;
    color: #666;
}

.wrapper .search span{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

/*导航栏*/
.navigation{
    background: #915519;
    height: 57px;
    line-height: 57px;
    color: #fff;
    font-size: 16px;
}

.title_tab{
    float: left;
    position: relative;
    width: 150px;
    text-align: center;
}

.title_tab:hover{
    background: #ce6e0a;
}

.title_tab .first_title{
    cursor: pointer;
}

.title_tab .first_title a{
    display: block;
    color: #fff;
}

.title_tab .second_title{
    display: none;
    position: absolute;
    top: 57px;
    left: 0;
    z-index: 13;
    width: 100%;
    line-height: 40px;
}

.title_tab .second_title a{
    display: block;
    color: #775640;
    margin-top: -1px;
    background: url("../../static/images/second_title.png") no-repeat;
    font-size: 16px;
}

.title_tab .second_title .title_over{
    color: #fff;
}

/*通知公告*/
.notice{
    width: 100%;
    border: 2px solid #e3e3e3;
    margin-right: 10px;
    margin-bottom: 10px;
}

.notice_scroll{
    padding-bottom: 24px;
    background: url(../../static/images/notice_bg01.jpg) no-repeat bottom center;
    height: 240px;
}

.notice .title_notice{
    position: relative;
    background: #90531a;
    font-size: 17px;
    line-height: 48px;
    padding-left: 20px;
    color: #fff;
}

.notice .title_notice a{
    position: absolute;
    right: 20px;
    top: 0;
    display: block;
    font-size: 9px;
    line-height: 48px;
    color: #fff;
}

.notice .title_notice a span{
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: top;
    margin-top: 18px;
    margin-left: 5px;
}

.notice .content_notice .notification{
    width: 200px;
    line-height: 30px;
    padding: 0 20px;
    color: #716363;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.notice .content_notice .notification:hover{
    color: #ce6e0a;
    cursor: pointer;
}

/*校史天地*/
.infor{
    padding: 10px;
}

.news{
    float: left;
    width: 864px;
    background: #fff;
    padding-bottom: 8px;
}

.news .title_news,.history .title_news{
    position: relative;
    font-size: 16px;
    color: #490d0d;
    line-height: 44px;
    border-top: 5px solid #90531a;
    padding-left: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.infor .history .history_con{
    height: 246px;
}

.news .title_news a,.history .title_news a,.title_ex a{
    position: absolute;
    right: 20px;
    top: 0;
    display: block;
    font-size: 12px;
    line-height: 44px;
    color: #490d0d;
    font-weight: lighter;
}

.news .title_news{
    font-size: 18px;
}

.news .title_news a{
    font-size: 14px;
}

.title_news a b{
    font-weight: lighter;
    color: #999;
}

.news .title_news a span,.history .title_news a span{
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: top;
    margin-top: 16px;
    margin-left: 5px;
}

.infor .history{
    position: relative;
    width: 301px;
    border-left: 2px solid #e3e3e3;
    border-right: 2px solid #e3e3e3;
    border-bottom: 2px solid #e3e3e3;
    padding-bottom: 0px;
    padding-bottom: 22px;
    margin-right: 10px;
    background: #fff;
}

.infor .history .history_list{
    margin: 0 20px;
    border-bottom: 1px dashed #e3e3e3;
    height: 40px;
    line-height: 54px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 16px;
    color: #707276;
}

.infor .history .history_list:hover{
    color: #ce6e0a;
}

.history .link{
    position: absolute;
    top: 380px;
    width: 100%;
    margin: 20px 0;
}

.history .link .linking{
    position: relative;
    display: block;
    width: 90%;
    margin: 0 auto;
    line-height: 46px;
    font-size: 16px;
    background: #915519;
    color: #fff;
    text-align: center;
    margin-bottom: 2px;
}

.history .link .linking span{
    position: absolute;
    width: 24px;
    top: 13px;
    right: 30px;
}

.history .link .linking .linking_list{
    position: absolute;
    top: 46px;
    width: 100%;
    text-align: center;
    z-index: 11;
}

.history .link .linking .linking_list p{
    display: block;
    border: 1px solid #915519;
    margin-top: -1px;
    background: #fff;
    color: #6d6e73;
    line-height: 60px;
}

.history .link .linking .linking_list .linkChoose{
    color: #ce6e0a;
}

/*footer*/
.footer{
    background: #915519;
}

.footer_con{
    width: 1180px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.footer_img{
    float: left;
    margin-top: 60px;
}

.footer_font{
    float: left;
    width: 928px;
    color: #fff;
    text-align: center;
}

.footer_font p .loginBtn{
    display: inline-block;
    background: #DDC7AC;
    color: #915519;
    width: 67px;
    font-size: 12px;
    line-height: 21px;
    border-radius: 11px;
    vertical-align: top;
    margin-top: 4px;
}

.footer_font p .gxb{
    color: #fff;
}