*{
    padding: 0;
    margin: 0;
    zoom: 1;
}

body{
    font-family: '微软雅黑';
}

ul,li,ol{
    list-style: none;
}

a{
    color: #000;
    text-decoration: none;
    outline: 0;
}

a:hover {
    text-decoration: none
}

img{
    display: block;
    width: 100%;
    border: 0;
}

.none{
    display: none;
}

/*文字居中*/
.tc{
    text-align: center;
}

/*清浮动，支持IE8+*/
.clearfix:after{
    content:"";
    height:0px;
    visibility:hidden;
    display:block;
    clear:both;
}

.clearfix{
    zoom:1;
}