<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <typeAliases>
        <typeAlias alias="AccountEntityInfo" type="domain.shiro.entity.AccountEntity"/>
        <typeAlias alias="ResourceEntityInfo" type="domain.shiro.entity.ResourceEntity"/>
        <typeAlias alias="RoleEntityInfo" type="domain.system.entity.RoleEntity"/>
        <typeAlias alias="ParamEntityInfo" type="domain.shiro.entity.ParamEntity"/>
        <typeAlias alias="NoticeEntityInfo" type="domain.home.entity.NoticeEntity"/>
        <typeAlias alias="NewsEntityInfo" type="domain.home.entity.NewsEntity"/>
        <typeAlias alias="WorksEntityInfo" type="domain.home.entity.WorksEntity"/>
        <typeAlias alias="TeacherEntityInfo" type="domain.home.entity.TeacherEntity"/>
        <typeAlias alias="StudentEntityInfo" type="domain.home.entity.StudentEntity"/>
        <typeAlias alias="SubjectEntityInfo" type="domain.home.entity.SubjectEntity"/>
        <typeAlias alias="SchoolEntityInfo" type="domain.home.entity.SchoolEntity"/>
    </typeAliases>

</configuration>